table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0;
}

td,th {
    border: 1px solid #dddddd;
    padding: 8px;
}
thead tr:nth-child(1){
    background-color: rgb(77, 7, 156);
    color: white;
}
tr td i.fa-brands {
    display: block;
    font-size: 35;
    text-align: center;
}